{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static "carts/css/style_corzina.css" %}" rel="stylesheet" />
<link href="{% static "carts/css/style-login.css" %}" rel="stylesheet" />
<link href="{% static "carts/css/style-order.css" %}" rel="stylesheet" />
{% endblock  %}

{% block title %}
    <title>Оформления заказа</title>
{% endblock  %}

{% block content %}
<div id="carts-container">
    <div class="shopping-cart formContent" id="cart-items-container">
        <h3 class="text-center mb-4 text-order">Введите данные для получения товара</h3>
       <form class="form-login" action="{% url 'orders:order-input' %}"  method="post" >
           {% csrf_token %}
                <input type="text" class="fadeIn  input-order" id="id_first_name"
                       name="first_name" placeholder="Имя*"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" required>
                 {% if form.first_name.errors %}
                 <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                {% endif%}


                <input type="text" class="fadeIn  input-order" id="id_last_name" name="last_name" placeholder="Фамилия*"
                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" required>
                {% if form.last_name.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                {% endif%}


                <!-- <input type="text" class="fadeIn  input-order" id="id_last_name__" placeholder="Отчество*"
                       value="{{ form.last_name.value }}" name="last_name" required> -->




                <input class="fadeIn  input-order " id="id_phone_number" name="phone_number" data-tel-input type="text"
                       placeholder="Телефон" required>
                 {% if form.phone_number.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
                {% endif%}

            <div class="col-md-12 mb-3 input-order-radio">
                <div class="form-check form-check-inline" id="container">
                    <input class="form-check-input-1 required-delivery" data-check type="radio" name="requires_delivery"
                           id="id_requires_delivery" value="1" checked>
                    {% if form.requires_delivery.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.requires_delivery.errors }}</div>
                {% endif%}
                    <label class="form-check-label" for="id_requires_delivery">Нужна
                        доставка</label>
                </div>
                <div class="form-check form-check-inline" id="container-none">
                    <input class="form-check-input-1" data-check-none type="radio" name="requires_delivery"
                           id="id_requires_delivery" value="0">
                    {% if form.requires_delivery.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.requires_delivery.errors }}</div>
                {% endif%}
                    <label class="form-check-label" for="id_requires_delivery">Самовывоз</label>
                </div>
            </div>

             <input type="text" class="fadeIn  input-order" id="id_delivery_address"
                          name="delivery_address" placeholder="Адрес доставки" required>
              {% if form.delivery_address.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.delivery_address.errors }}</div>
                {% endif%}

            <div class="col-md-12 mb-3 input-order">
                <label class="form-label">Способ оплаты: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input-1" type="radio" name="payment_on_get"
                           id="id_payment_on_get" value="0" checked>
                    {% if form.payment_on_get.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.payment_on_get.errors }}</div>
                {% endif%}
                    <label class="form-check-label" for="id_payment_on_get">Оплата
                        картой</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input-1" type="radio" name="payment_on_get"
                           id="id_payment_on_get" value="1">
                    {% if form.payment_on_get.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.payment_on_get.errors }}</div>
                {% endif%}
                    <label class="form-check-label" for="id_payment_on_get">Оплата при получении</label>
                </div>
            </div>
        <input type="submit" id="underlineHover-buy" class="fadeIn fourth input-order" value="Оплатить">
    </form>
    </div>
      </div>
    </div>
</div>
{% endblock  %}


{% block script %}
        <script type="text/javascript" src="{% static 'js/jquery/jquery-3.7.0.min.js' %}"></script>
         <!-- Bootstrap core JS-->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
         <!-- Core theme JS-->
         <script type="text/javascript" src="{% static 'js/jquery-ajax.js' %}" ></script>
         <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="{% static 'orders/js/hidden_input_adress.js' %}"></script>
        <script src="{% static 'orders/js/phone_input.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/preloader.js' %}" ></script>
{% endblock %}


