{% load static %}

<footer class="footer py-4" id="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">© 2024 – 2024 ООО "Интернет Решения" (входит в группу компаний Autoenamals; дочерняя компания ООО "Автоэмали") Все права защищены.</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-social" href="https://t.me/autoenamels31_bot" aria-label="Telegram"><img  class="img-social" src="{% static 'icons/social_link/telegram.png'%}"></a>
                <a class="btn btn-social" href="https://vk.com/auto_emals31" aria-label="Vk"><img  class="img-social" src="{% static 'icons/social_link/vk.png'%}"></a>
            </div>
        </div>
    </div>
</footer>