{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static "users/css/style-login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content" id="content">
     <div class="wrapper fadeInDown">
       <div id="formContent">
           <h1>Новый пароль</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p class="text-p"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <input type="submit" class="fadeIn fourth" value="Сохранить">
        </form>
       </div>
     </div>
</div>
{% endblock %}
