{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>О нас</title>
{% endblock  %}

{% block content %}
<div class="content">
    <div class="container">
        <h1 class="page-title">О нас</h1>




<p class="text-justify">Интернет-магазин flagmanpaints.ru – проверенный и хорошо известный в Москве и Подмосковье поставщик оборудования и расходных материалов для ремонта, покраски и обслуживания автомобилей. Тщательный подбор ассортимента из товаров с оптимальным сочетанием высокого качества и разумной цены позволяет клиентам flagmanpaints.ru повысить экономичность бизнеса.</p>
<p class="text-justify">Рентабельное оборудование, долговечные покрытия, устройства и приспособления для снижения расхода краски, лака и других составов – все это повышает рентабельность сервисных центров и мастерских по ремонту, повышая при этом их рейтинг среди конкурентов. Современное оснащение помогает обеспечить безупречное качество обслуживания и оптимизировать ценовую политику.</p>

    </div>
</div>
{% endblock  %}