
{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Доставка и оплата</title>
{% endblock  %}

{% block content %}
<div class="content">
    <div class="container">
        <h1 class="page-title">Доставка и оплата</h1>
        <h2><strong>Самовывоз:</strong></h2>
        <p><span>Пункт выдачи находится по адресу: г. Москва, Щёлковское шоссе, 5, стр.1<br></span></p>
        <p><span>Пункт выдачи находится по адресу:&nbsp;г.&nbsp;Москва, ул. Красная сосна, д. 24 строение 2</span></p>
        <p><span>Внимание! Самовывоз возможен только по предварительному согласованию.</span></p>
        <p><span>Доставка на пункт выдачи на ул. Красная сосна осуществляется только после предоплаты. Доставка нашим транспортом без изменений, заказ можно оплатить при получении.</span></p>
        <p>&nbsp;</p>
        <h2><strong>Доставка службой экспресс-доставки СДЭК:</strong></h2>
        <p><span>Сумма заказа - любая. При заказе от 7500 руб. доставка&nbsp; по г. Москва, Мытищи, Королев бесплатно, при меньшей сумме заказа доставка оплачивается покупателем по тарифам компании СДЭК.<br></span></p>
        <p><span>Примерная стоимость доставки по г. Москва - 250 рублей до пункта выдачи заказов (ПВЗ) или 350 рублей до двери получателя.</span></p>
        <p><span>Доставка по Московской области - 300 рублей до ПВЗ или 400 рублей до получателя.</span></p>
        <p><span>Указанные цены действительны для заказов весом до 3 кг.</span></p>
        <p><span>Возможна доставка СДЭКом в другие регионы РФ, а также расчет при получении товара (наложенный платеж).<br></span></p>
        <p><span>Подробную информацию Вы можете уточнить у менеджеров по тел. 8(495)532-35-90.</span></p>
        <p>&nbsp;</p>
        <h2><strong>Доставка нашим транспортом по Москве в пределах МКАД, г. Королев и г. Мытищи:</strong><span></span></h2>
        <p><span>Доставка заказа от 7500 руб - бесплатно</span></p>
        <p><span>Доставка заказа до 7500 руб - 500 руб</span></p>
        <p><strong>Срок доставки 1-2 дня.</strong></p>
        <p>&nbsp;</p>
        <h2><strong>Доставка нашим транспортом по Московской области:</strong></h2>
        <p><span>Стоимость доставки 30 руб за 1 км от МКАД, но не менее 300 руб</span></p>
        <p>&nbsp;</p>
        <h2><strong>Доставка по России:</strong></h2>
        <p><span>Доставка заказа до терминала ТК Деловые линии, Байкал сервис и СДЭК в г. Москва - бесплатно независимо от суммы заказа.</span></p>
        <p><span>Доставка заказа прочими ТК - от 7500 руб до офиса ТК в г.Москва бесплатно. При сумме заказа менее 7500 рублей цена доставки до терминала равна стоимости доставки нашим транспортом по Москве.Стоимость доставки по РФ - по тарифам транспортной компании.</span><span></span></p>
    </div>
</div>
{% endblock  %}